<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matheus Renk</title>
    <link rel="stylesheet" href="/view/css/index.css">
    <script src="https://kit.fontawesome.com/0608d58633.js" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</head>
<body>
    <header>
        <div id="logo_text">
            <img id="logo_imagem" src="/assets/img/gatto.png" alt="sla">
            <h1 id="proficao">
                Aluno de Programação
            </h1>
        </div>
        <div id="btns_header" class="page1">
            <button id="btn_home" class="btn" onclick="window.location.href='index.html'">
                <h4>HOME</h4>
                <i class="fa-solid fa-house"></i>
            </button>
            <button id="btn_projetos" class="btn" onclick="window.location.href='projetos.html'">
                <h4>PROJETOS</h4>
                <i class="fa-solid fa-book"></i>
            </button>
        </div>
    </header>
    <section>
        <img id="p_imagem" src="/assets/img/img1.jpg" alt="nao sei o dono">
        <div id="textos_principais">
            <h1 id="nome">MATHEUS</h1>
            <h2 id="sobrenome">RENK</h2>
            <p id="sobre_mim">Sou um aluno de programação que atualmente está cursando Desenvolvimento Web no SENAC-FB.</p>
        </div>
    </section>
    <footer>
        <button id="btn_github" onclick="window.location.href='https://github.com/RenkM'"><i
                class="fa-brands fa-github"></i></button>
        <button id="btn_linkedin" onclick="window.location.href='https://linkedin.com'"><i
                class="fa-brands fa-linkedin"></i></button>
        <button id="btn_insta" onclick="window.location.href='https://instagram.com/renkm1'"><i
                class="fa-brands fa-instagram"></i></button>
        <button id="btn_discord" onclick="window.location.href='https://discord.com/users/274553743456993281'"><i
                class="fa-brands fa-discord"></i></button>
    </footer>
</body>

</html>