@import url(header.css);
@import url(section.css);
@import url(footer.css);

@font-face {
    font-family: 'fontP';
    src: url(/assets/fonts/Oswald-VariableFont_wght.ttf);
}

body {
    background-image: url(/assets/img/cyberpunk2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    overflow-x: hidden;
    font-family: 'fontP';

}

p, h1, h2 {
    color: white;
}