#cards_projetos{
    width: 90vw;
    margin: 25vw 5vw;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
    grid-template-rows: 20vw 20vw 20vw 20vw 20vw;
    grid-gap: 3vw;
}
.card{
    width: 15vw;
    height: 25vw;
    background-color: #111111;
    box-shadow: 0.1vw 0.2vw 0.3vw rgba(35, 35, 35, 0.5);
    border-radius: 8% 92% 5% 95% / 95% 3% 97% 5%;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    transform-origin: center;
}

.card div{
    height: 25vw;
    width: 15vw;
    padding: 0.1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    transition: all 0.2s ease-in-out;
}
.card img{
    height: 4vw;
    transition: all 0.2s ease-in-out;
}
.card h3{
    font-family: 'fontP';
    font-size: 1.5vw;
    margin: 0;
    margin-top: -2vw;
    color: white;
}
.card p{
    text-align: center;
    font-family: 'fontP';
    font-size: 1.5vw;
    color: white;
}

.card:hover{
    transform: scale(1.05);
}
.card:hover div{
    height: 12vw;
}

.cardAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    border:dashed 2px #353333;
}
.iconeMais{
    font-size: 4vw;
    color: #353333;
}